[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=multimedia-player
Name=Mtp
Comment=Allows managing a Mtp device through DeviceSync

ServiceTypes=Devicesync/Plugin

X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=drf@kdemod.ath.cx
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=devicesync_mtpplugin
X-KDE-PluginInfo-Name=Mtp
